# üéüÔ∏è 9.3 ‚Äî Laboratorio: Sistema de Tickets con SQLite

En este laboratorio aplicar√°s todo lo aprendido sobre **bases de datos SQLite** para construir un peque√±o sistema de gesti√≥n de tickets de soporte.

Aprender√°s a:
- Crear varias tablas relacionadas.
- Insertar y consultar datos con claves for√°neas.
- Ejecutar consultas SQL avanzadas.
- Mostrar resultados con Pandas.

üí° *Objetivo:* modelar una base de datos de soporte t√©cnico con usuarios, categor√≠as y tickets.

In [1]:
import sqlite3
import pandas as pd

conexion = sqlite3.connect('../../datasets/tickets.db')
cursor = conexion.cursor()
print('‚úÖ Conectado a tickets.db')

‚úÖ Conectado a tickets.db

---
## 1Ô∏è‚É£ Crear las tablas del sistema de tickets

Tendremos 3 tablas:

- **usuarios**: guarda el nombre y correo de los usuarios.
- **categorias**: agrupa los tipos de incidencias (hardware, software, red...).
- **tickets**: almacena cada solicitud de soporte con referencias a usuario y categor√≠a.

In [2]:
cursor.executescript('''
DROP TABLE IF EXISTS tickets;
DROP TABLE IF EXISTS usuarios;
DROP TABLE IF EXISTS categorias;

CREATE TABLE usuarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL
);

CREATE TABLE categorias (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL
);

CREATE TABLE tickets (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    titulo TEXT NOT NULL,
    descripcion TEXT,
    estado TEXT DEFAULT 'abierto',
    fecha TEXT,
    usuario_id INTEGER,
    categoria_id INTEGER,
    FOREIGN KEY (usuario_id) REFERENCES usuarios(id),
    FOREIGN KEY (categoria_id) REFERENCES categorias(id)
);
''')

conexion.commit()
print('üß± Tablas creadas correctamente.')

üß± Tablas creadas correctamente.

---
## 2Ô∏è‚É£ Insertar datos de ejemplo

Poblamos las tablas con algunos usuarios, categor√≠as y tickets iniciales.

In [3]:
usuarios = [
    ('Ana P√©rez', 'ana@example.com'),
    ('Luis G√≥mez', 'luis@example.com'),
    ('Marta Ruiz', 'marta@example.com')
]

categorias = [
    ('Hardware',),
    ('Software',),
    ('Red',)
]

tickets = [
    ('No enciende el port√°til', 'El equipo no arranca tras la √∫ltima actualizaci√≥n', 'abierto', '2025-10-29', 1, 1),
    ('Error al abrir Word', 'El programa se bloquea al abrir documentos .docx', 'en proceso', '2025-10-30', 2, 2),
    ('Sin conexi√≥n a internet', 'El router parpadea en rojo', 'cerrado', '2025-10-28', 3, 3)
]

cursor.executemany('INSERT INTO usuarios (nombre, email) VALUES (?, ?)', usuarios)
cursor.executemany('INSERT INTO categorias (nombre) VALUES (?)', categorias)
cursor.executemany('INSERT INTO tickets (titulo, descripcion, estado, fecha, usuario_id, categoria_id) VALUES (?, ?, ?, ?, ?, ?)', tickets)

conexion.commit()
print('üíæ Datos iniciales insertados correctamente.')

üíæ Datos iniciales insertados correctamente.

---
## 3Ô∏è‚É£ Consultas b√°sicas

Listamos las tablas para verificar que los datos est√°n insertados correctamente.

In [4]:
print('üë• Usuarios:')
display(pd.read_sql_query('SELECT * FROM usuarios', conexion))

print('üè∑Ô∏è Categor√≠as:')
display(pd.read_sql_query('SELECT * FROM categorias', conexion))

print('üé´ Tickets:')
display(pd.read_sql_query('SELECT * FROM tickets', conexion))

üë• Usuarios:

   id      nombre              email
0   1   Ana P√©rez    ana@example.com
1   2  Luis G√≥mez   luis@example.com
2   3  Marta Ruiz  marta@example.com

üè∑Ô∏è Categor√≠as:

   id    nombre
0   1  Hardware
1   2  Software
2   3       Red

üé´ Tickets:

,id,titulo,descripcion,estado,fecha,usuario_id,categoria_id
0,1,No enciende el port√°til,El equipo no arranca tras la √∫ltima actualizaci√≥n,abierto,2025-10-29,1,1
1,2,Error al abrir Word,El programa se bloquea al abrir documentos .docx,en proceso,2025-10-30,2,2
2,3,Sin conexi√≥n a internet,El router parpadea en rojo,cerrado,2025-10-28,3,3

---
## 4Ô∏è‚É£ üß© Ejercicio ‚Äî Consulta con JOIN

Obt√©n un listado de tickets con:
- t√≠tulo
- estado
- fecha
- nombre del usuario
- nombre de la categor√≠a

üëâ *Pista:* utiliza `INNER JOIN` para unir las tres tablas.

In [5]:
# ‚úèÔ∏è Tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [29]:
query = '''
SELECT t.id, t.titulo, t.estado, t.fecha,
       u.nombre AS usuario, c.nombre AS categoria
FROM tickets t
INNER JOIN usuarios u ON t.usuario_id = u.id
INNER JOIN categorias c ON t.categoria_id = c.id
ORDER BY t.fecha DESC;
'''

df = pd.read_sql_query(query, conexion)
df

   id                   titulo      estado       fecha     usuario categoria
0   2      Error al abrir Word  en proceso  2025-10-30  Luis G√≥mez  Software
1   1  No enciende el port√°til     cerrado  2025-10-29   Ana P√©rez  Hardware

In [6]:
import sys

In [28]:
df_tickets = pd.read_sql_query("SELECT * FROM tickets", conexion)
df_usuarios = pd.read_sql_query("SELECT * FROM usuarios", conexion)
df_categorias = pd.read_sql_query("SELECT * FROM categorias", conexion)

df = df_tickets.merge(
    df_usuarios[['id','nombre']],
    left_on='usuario_id',
    right_on='id',
    how='inner'
).rename(columns={'nombre':'usuario'}).drop(columns=['id_y'])

df = df.merge(
    df_categorias[['id','nombre']], 
    left_on='categoria_id',
    right_on='id',
    how='inner'
).rename(columns={'nombre':'categoria'}).drop(columns=['id_x','usuario_id', 'categoria_id', 'id','descripcion'])

display(df)

                    titulo      estado       fecha     usuario categoria
0  No enciende el port√°til     cerrado  2025-10-29   Ana P√©rez  Hardware
1      Error al abrir Word  en proceso  2025-10-30  Luis G√≥mez  Software

---
## 5Ô∏è‚É£ üß© Ejercicio ‚Äî Actualizar y eliminar

1. Actualiza el estado de un ticket a **cerrado**.
2. Elimina un ticket por su ID.

üëâ *Pista:* usa `UPDATE` y `DELETE` con `WHERE`.

In [7]:
# ‚úèÔ∏è Tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [27]:
cursor.execute('UPDATE tickets SET estado = "cerrado" WHERE id = 1')
cursor.execute('DELETE FROM tickets WHERE id = 3')
conexion.commit()

print('‚úÖ Cambios aplicados correctamente.')

‚úÖ Cambios aplicados correctamente.

---
## 6Ô∏è‚É£ Consultar el estado final de los tickets

Comprobamos los cambios realizados.

In [30]:
df_final = pd.read_sql_query('SELECT * FROM tickets', conexion)
df_final

,id,titulo,descripcion,estado,fecha,usuario_id,categoria_id
0,1,No enciende el port√°til,El equipo no arranca tras la √∫ltima actualizaci√≥n,cerrado,2025-10-29,1,1
1,2,Error al abrir Word,El programa se bloquea al abrir documentos .docx,en proceso,2025-10-30,2,2

---
## 7Ô∏è‚É£ üß† Conclusiones

- Has modelado un sistema relacional simple con 3 tablas.
- Has trabajado con claves for√°neas y consultas `JOIN`.
- Has practicado inserciones, actualizaciones y eliminaciones.
- Este mismo patr√≥n se aplica en **PostgreSQL, MySQL o SQL Server** con ligeros ajustes.

üí° Pr√≥ximo paso: integrar este modelo con una **API Flask o FastAPI** para exponer los datos como endpoints REST.

In [31]:
conexion.close()
print('üîí Conexi√≥n cerrada correctamente.')

üîí Conexi√≥n cerrada correctamente.